{{#partial "contenido"}}
    <div class="p-6 md:p-10 mx-auto max-w-4xl">
        <div class="mb-10 text-center">
            <h1 class="text-4xl font-bold text-gray-800 mb-4">Perfil</h1>
        </div>

        {{#if message}}
            <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-6" role="alert">
                <p>{{message}}</p>
            </div>
        {{/if}}

        <form method="post" action="/perfil/{{colaborador.id}}" id="actualizar-perfil">
            <div class="mb-8">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Mis datos</h2>

                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                    <input type="email" id="email" name="email" value="{{colaborador.email}}"
                           class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                           required/>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <!-- PERSONA HUMANA -->
                    {{#if colaborador.nombre}}
                        <div>
                            <label for="nombre" class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
                            <input type="text" id="nombre" name="nombre" value="{{colaborador.nombre}}"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                                   required/>
                        </div>

                        <div>
                            <label for="apellido"
                                   class="block text-sm font-medium text-gray-700 mb-1">Apellido</label>
                            <input type="text" id="apellido" name="apellido" value="{{colaborador.apellido}}"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                                   required/>
                        </div>

                        <div>
                            <label for="documento"
                                   class="block text-sm font-medium text-gray-700 mb-1">Documento</label>
                            <input type="text" id="documento" name="documento" value="{{colaborador.documento}}"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                                   required/>
                        </div>

                        <div>
                            <label for="tipoDocumento" class="block text-sm font-medium text-gray-700 mb-1">Tipo de
                                Documento</label>
                            <select id="tipoDocumento" name="tipoDocumento"
                                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                                {{#each tiposDocumento}}
                                    <option {{#if (eq this.valor colaborador.tipoDocumento)}}
                                    selected {{/if}} value="{{this.valor}}">{{this.descripcion}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div>
                            <label for="default-datepicker" class="block text-sm font-medium text-gray-700 mb-1">Fecha
                                de nacimiento</label>
                            <input datepicker datepicker-autohide datepicker-format="dd/mm/yyyy"
                                   id="default-datepicker" type="text" name="fechaNacimiento"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                                   placeholder="Fecha de nacimiento"
                                   value="{{formatFecha colaborador.fechaNacimiento}}"/>
                        </div>
                    {{/if}}

                    <!-- PERSONA JURÍDICA -->
                    {{#if colaborador.razonSocial}}
                        <div>
                            <label for="razonSocial" class="block text-sm font-medium text-gray-700 mb-1">Razón
                                Social</label>
                            <input type="text" id="razonSocial" name="razonSocial" value="{{colaborador.razonSocial}}"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"/>
                        </div>

                        <div>
                            <label for="rubro" class="block text-sm font-medium text-gray-700 mb-1">Rubro</label>
                            <input type="text" id="rubro" name="rubro" value="{{colaborador.rubro}}"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"/>
                        </div>

                        <div>
                            <label for="underline_select" class="block text-sm font-medium text-gray-700 mb-1">Tipo
                                de organización</label>
                            <select id="underline_select" name="tipoPersonaJuridica" required
                                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                                {{#each tiposOrganizacion}}
                                    <option  {{#if (eq this.valor colaborador.tipoPersonaJuridica) }}
                                    selected {{/if}} value="{{this.valor}}">{{this.valor}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/if}}
                </div>
            </div>

            <!-- DIRECCION -->
            <div class="mb-8">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Dirección</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label for="calle" class="block text-sm font-medium text-gray-700 mb-1">Calle</label>
                        <input type="text" id="calle" name="calle" value="{{colaborador.direccionDto.calle}}"
                               class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                               />
                    </div>

                    <div>
                        <label for="altura" class="block text-sm font-medium text-gray-700 mb-1">Altura</label>
                        <input type="number" id="altura" name="altura" value="{{colaborador.direccionDto.altura}}"
                               class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                               />
                    </div>

                    <div>
                        <label for="piso" class="block text-sm font-medium text-gray-700 mb-1">Piso</label>
                        <input type="number" id="piso" name="piso" value="{{colaborador.direccionDto.piso}}"
                               class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"/>
                    </div>

                    <div>
                        <label for="codigoPostal" class="block text-sm font-medium text-gray-700 mb-1">Código
                            Postal</label>
                        <input type="text" id="codigoPostal" name="codigoPostal"
                               value="{{colaborador.direccionDto.codigoPostal}}"
                               class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                               />
                    </div>
                </div>
            </div>

            <!-- FORMAS COLABORACION -->
            {{#if formasColaboracion.length}}
                <div class="mb-8">
                    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Agregar formas de colaboración</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        {{#each formasColaboracion}}
                            <div class="flex items-center">
                                <input id="forma-{{@index}}" name="forma-{{@index}}" type="checkbox"
                                       value="{{this.id}}"
                                       class="h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                                <label for="forma-{{@index}}"
                                       class="ml-3 block text-sm font-medium text-gray-700">{{this.desc}}</label>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}

            <input type="hidden" name="cant-formas" id="cant-formas" value="{{formasColaboracion.length}}">
            <div class="mb-8">
                <button type="button"
                        class="w-full py-3 px-4 boton-canje text-white font-bold rounded transition-colors duration-300 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                        onclick="actualizarPerfil()">
                    Actualizar perfil
                </button>
            </div>
        </form>

        <div class="flex justify-center items-center">
            <div class="mb-8 mt-8 bg-white border border-gray-200 rounded-lg shadow-sm max-w-lg">
                <div class="px-4 py-5 sm:p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-6">Información Adicional</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            <p class="text-sm font-medium text-gray-500">Formulario Completado</p>
                            <p class="mt-1 text-lg font-semibold text-gray-900">
                                {{#if colaborador.formCompletado}}Sí{{else}}No{{/if}}
                            </p>
                        </div>
                        <div>
                            <p class="text-sm font-medium text-gray-500">Puntos restantes</p>
                            <p class="mt-1 text-lg font-semibold text-gray-900">{{formatPuntos
                                    colaborador.puntosGanados}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2 class="text-2xl font-bold text-gray-800 mb-6">Productos Canjeados</h2>
            {{#if canjes.length}}
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6" id="canjes-lista">
                    {{#each canjes}}
                        <div class="sidebar shadow-lg rounded-lg overflow-hidden transition-transform duration-300 hover:scale-105 max-w-[300px]">
                            <div class="h-48 bg-white flex items-center justify-center p-4">
                                <img class="max-w-full max-h-full object-contain" src="{{this.urlFoto}}"
                                     alt="{{this.nombreProducto}}"/>
                            </div>
                            <div class="p-4 text-white">
                                <h5 class="text-xl font-semibold mb-2 line-clamp-2">{{this.nombreProducto}}</h5>
                                <p class="text-sm mb-2">Canjeado el {{this.fechaCanje}} hs</p>
                                <p class="text-lg font-bold text-white">Costo: {{formatPuntos this.puntosGastados}}
                                    puntos</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <div class="text-center py-8">
                    <p class="text-lg text-gray-500">No hay productos canjeados.</p>
                </div>
            {{/if}}
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script>
        function actualizarPerfil() {
            const form = document.getElementById('actualizar-perfil');
            if (form.checkValidity()) {
                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "¿Deseas actualizar los datos de tu perfil?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#28b463",
                    cancelButtonColor: "#cb4335",
                    confirmButtonText: "Sí, actualizar",
                    cancelButtonText: "No, cancelar",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            } else {
                form.reportValidity();
            }
        }
    </script>
{{/partial}}

{{> templates/app/base }}