{{#partial "btn-volver"}}
    <a href="/registro">
        <button
                class="m-4 px-6 py-3 text-sm lg:text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform azulIntermedio rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
            Volver
        </button>
    </a>
{{/partial}}

{{#partial "contenido"}}
    <div class="flex justify-center items-center lg:mt-16 flex-col">
        <h1 class="title1 mb-6" style="color: #eee;">Registro</h1>
        {{#if message}}
            <p id="error-message" style="background: rgb(255, 163, 163);" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">{{message}}</p>
        {{/if}}
        <div class="flex flex-col items-center justify-center">
            <form method="post" action="" class="content-center max-w-md mx-auto">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="razonSocial" id="razon_social"
                           class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                           placeholder=" " required/>
                    <label for="razon_social"
                           class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Razon
                        Social</label>
                </div>
                <div class="mb-3">
                    <label for="underline_select" class="sr-only">Underline select</label>
                    <select id="underline_select" name="tipoOrganizacion"
                            class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                        <option selected disabled>Tipo de Organizacion</option>
                        {{#each tiposOrganizacion}}
                            <option value={{this.valor}}>{{this.valor}}</option>
                        {{/each}}
<!--                        <option value="gubernamental">Gubernamental</option>-->
<!--                        <option value="ong">ONG</option>-->
<!--                        <option value="empresa">Empresa</option>-->
<!--                        <option value="institucion">Institucion</option>-->
                    </select>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="rubro" id="rubro"
                           class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                           placeholder=" " required/>
                    <label for="rubro"
                           class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rubro</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="email" name="email" id="floating_email"
                           class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                           placeholder=" " required/>
                    <label for="floating_email"
                           class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" name="password" id="floating_password"
                           class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                           placeholder=" " required/>
                    <label for="floating_password"
                           class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contaseña</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" name="passConf" id="floating_repeat_password"
                           class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                           placeholder=" " required/>
                    <label for="floating_repeat_password"
                           class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirmar
                        contraseña</label>
                </div>
<!--                <div class="mb-3">-->
<!--                    <label for="underline_select" class="sr-only">Underline select</label>-->
<!--                    <select id="underline_select" name="mediosDeContacto" autocomplete="contacto"-->
<!--                            class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">-->
<!--                        <option selected disabled>Medio de contacto 1</option>-->
<!--                        <option value="mail">Mail</option>-->
<!--                        <option value="telegram">Telegram</option>-->
<!--                        <option value="whatsapp">Whatsapp</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="relative z-0 w-full mb-5 group">-->
<!--                    <input type="text" name="contacto" id="floating_contact"-->
<!--                           class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"-->
<!--                           placeholder=" " required/>-->
<!--                    <label for="floating_contact"-->
<!--                           class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contacto-->
<!--                        1</label>-->
<!--                    <span class="text-gray-300 cursor-pointer text-sm">Añadir otro medio de contacto</span>-->
<!--                </div>-->
                <div class="relative z-0 w-full mb-5 group">
                    <span style="color: #eee;">Direccion</span>
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="calle" id="calle"
                                   class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                   placeholder=" " />
                            <label for="calle"
                                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Calle</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="number" name="altura" id="altura"
                                   class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                   placeholder=" " />
                            <label for="altura"
                                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Altura</label>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="number" name="piso" id="piso"
                                   class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                   placeholder=" " />
                            <label for="piso"
                                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Piso</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="cp" id="codigo-postal"
                                   class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                   placeholder=" "/>
                            <label for="codigo-postal"
                                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Codigo
                                Postal</label>
                        </div>
                    </div>
                </div>
                <div class="mb-2 text-gray-500">Formas de colaboracion</div>
                <div class="grid grid-cols-2">
                    {{#each formasColaboracion}}
                        <div class="flex items-center">
                            <input id="default-checkbox" name="forma-{{@index}}" type="checkbox" value={{this.id}}
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-checkbox"
                                   class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">{{this.desc}}</label>
                        </div>
                    {{/each}}
<!--                    <div class="flex items-center">-->
<!--                        <input id="default-checkbox" type="checkbox" value=""-->
<!--                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">-->
<!--                        <label for="default-checkbox"-->
<!--                               class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">Donacion-->
<!--                            de dinero</label>-->
<!--                    </div>-->
<!--                    <div class="flex items-center">-->
<!--                        <input id="default-checkbox" type="checkbox" value=""-->
<!--                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">-->
<!--                        <label for="default-checkbox"-->
<!--                               class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">-->
<!--                            Hacerse cargo de heladeras</label>-->
<!--                    </div>-->
<!--                    <div class="flex items-center">-->
<!--                        <input id="default-checkbox" type="checkbox" value=""-->
<!--                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">-->
<!--                        <label for="default-checkbox"-->
<!--                               class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">-->
<!--                            Ofrecer productos</label>-->
<!--                    </div>-->
                </div>
                <input type="hidden" name="cant-formas" id="cant-formas" value={{formasColaboracion.length}} />
                <div id="mediosContactoContainer">
                    <label
                            for="medio-contacto-1"
                            class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Canal de Contacto 1</label
                    >
                    <select
                            id="medio-contacto-1"
                            name="canal-1"
                            class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                        <option value="Whatsapp">Whatsapp</option>
                        <option value="Email">Mail</option>
                        <option value="Telegram">Telegram</option>
                    </select>
                    <label
                            for="contacto-1"
                            class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contacto 1</label
                    >
                    <input
                            type="text"
                            id="contacto-1"
                            name="contacto-1"
                            aria-describedby="helper-text-explanation"
                            class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Nro de telefono o Email"
                            required
                            min="1"
                    />
                </div>
                <button class="mb-4 text-sm" type="button" onclick="nuevoMedioContacto()">
                    Agregar medio de contacto +
                </button>
                <input type="hidden" name="cantidad-contactos" id="cantidad-contactos" value="1"/>

                <button type="submit"
                        class="w-full mt-4 px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 mb-12">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script src="/js/input-contactos.js"></script>
{{/partial}}

{{> templates/auth/base }}